<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @client.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @client.password %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @client.photo %>
</p>

<p>
  <strong>Location:</strong>
  <%= @client.location %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
